.form-title {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  padding-right: $phones-padding;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
  background-color: $background-color;

  @media (min-width: $tablets) {
    padding-right: 37px;
    padding-left: 37px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktops) {
    padding-left: 0;
  }
}

.form-title::before,
.form-title::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  width: 100vw;
  height: 3px;
  margin-top: calc(1em / 2 + 3px);
  background-color: $basic-green;
  z-index: -1;
}

.form-title::before {
  display: none;

  @media (min-width: $tablets) {
    display: block;
    right: 100%;
  }

  @media (min-width: $desktops) {
    margin-right: 37px;
  }
}

.form-title::after {
  left: 0;
}
