.page {
  box-sizing: border-box;
}

.page__body {
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: $special-dark-grey;
  background-color: $background-color;
  margin: 0;
  padding: 0;

  @media (min-width: $tablets) {
    font-size: 16px;
    line-height: 24px;
  }
}
